### Task 1

In [93]:
import sqlite3
import pandas as pd

# Connect to the Chinook database
conn = sqlite3.connect('chinook.db')  # Update this with your actual database path

# Query to read the 'customers' table into a pandas DataFrame
query = "SELECT * FROM customers"
df = pd.read_sql(query, conn)

# Display the first 10 rows
print(df.head(10))

# Close the database connection
conn.close()

   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová
5           6     Helena         Holý
6           7     Astrid       Gruber
7           8       Daan      Peeters
8           9       Kara      Nielsen
9          10    Eduardo      Martins

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.
5                                              None
6                                              None
7                                              None
8                                              None
9                                  Woodstock Discos

                                Address                 City State  \
0       Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP
1               Theodor-Heuss-Straße 34            Stuttgart  None
2                     1498 rue Bélanger             Montréal    QC
3                      Ullevålsveien 14                 Oslo  None
4                         Klanova 9/506               Prague  None
5                         Rilská 3174/6               Prague  None
6  Rotenturmstraße 4, 1010 Innere Stadt               Vienne  None
7                       Grétrystraat 63             Brussels  None
8                   Sønder Boulevard 51           Copenhagen  None
9             Rua Dr. Falcão Filho, 155            São Paulo    SP

          Country PostalCode               Phone                 Fax  \
0          Brazil  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1         Germany      70174    +49 0711 2842222                None
2          Canada    H2G 1A7   +1 (514) 721-4711                None
3          Norway       0171     +47 22 44 22 22                None
4  Czech Republic      14700    +420 2 4172 5555    +420 2 4172 5555
5  Czech Republic      14300    +420 2 4177 0449                None
6         Austria       1010      +43 01 5134505                None
7         Belgium       1000    +32 02 219 03 03                None
8         Denmark       1720      +453 3331 9991                None
9          Brazil  01007-010  +55 (11) 3033-5446  +55 (11) 3033-4564

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4
5           hholy@gmail.com             5
6    astrid.gruber@apple.at             5
7     daan_peeters@apple.be             4
8     kara.nielsen@jubii.dk             4
9  eduardo@woodstock.com.br             4

### Task 2

In [80]:
# JSON faylni yuklash
df_iris = pd.read_json('iris.json')

# DataFrame shakli va ustun nomlarini ko'rsatish
print("Shape of the dataset:", df_iris.shape)
print("Column names:", df_iris.columns)

Shape of the dataset: (143, 5)
Column names: Index(['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species'], dtype='object')

### Task 3

In [72]:
df_titanic = pd.read_excel('titanic.xlsx')


print(df_titanic.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### Task 4

In [45]:
import pandas as pd

# Specify the path to your Parquet file
file_path = 'flights.parquet'  # Replace with your actual file path

# Read the Parquet file into a DataFrame
df_flights = pd.read_parquet(file_path, engine='pyarrow')  # or use engine='fastparquet'

# Display the summary of the DataFrame
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336776 entries, 0 to 336775
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            336776 non-null  int16
 1   month           336776 non-null  int8
 2   day             336776 non-null  int8
 3   dep_time        328521 non-null  float64
 4   sched_dep_time  336776 non-null  int16
 5   dep_delay       328521 non-null  float64
 6   arr_time        328063 non-null  float64
 7   sched_arr_time  336776 non-null  int16
 8   arr_delay       327346 non-null  float64
 9   carrier         336776 non-null  object
 10  flight          336776 non-null  int16
 11  tailnum         334264 non-null  object
 12  origin          336776 non-null  object
 13  dest            336776 non-null  object
 14  air_time        327346 non-null  float64
 15  distance        336776 non-null  int16
 16  hour            336776 non-null  int8
 17  minute          336776 non-null  int8
 18  time_hour       336776 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int16(5), int8(4), object(4)
memory usage: 30.2+ MB

### Task 5

In [67]:
import pandas as pd

# Load the CSV file into a DataFrame
df_movies = pd.read_csv('movie.csv')

# Display a random sample of 10 rows
print(df_movies.sample(10))

                                  Film    Genre   Lead Studio  \
6  The Curious Case of Benjamin Button  Fantasy  Warner Bros.
4                             Waitress  Romance   Independent
8                     Sex and the City   Comedy  Warner Bros.
3                What Happens in Vegas   Comedy           Fox
7                              One Day  Romance   Independent
5                              Killers   Action     Lionsgate
1                    Letters to Juliet   Comedy        Summit
2                   Sex and the City 2   Comedy  Warner Bros.
0                  Across the Universe  romance   Independent
9                   Something Borrowed  Romance   Independent

   Audience score %  Profitability  Rotten Tomatoes % Worldwide Gross  Year
6                81       1.783944                 73         $285.43  2008
4                67      11.089742                 89          $22.18  2007
8                81       7.221796                 49         $415.25  2008
3                72       6.267647                 28         $219.37  2008
7                54       3.682733                 37          $55.24  2011
5                45       1.245333                 11          $93.40  2010
1                62       2.639333                 40          $79.18  2010
2                49       2.883500                 15         $288.35  2010
0                84       0.652603                 54          $29.37  2007
9                48       1.719514                 15          $60.18  2011