In [4]:
import pandas as pd

# Load the dataset
iris_df = pd.read_json("iris.json")

# Calculate mean, median, and standard deviation for each numerical column
mean_values = iris_df.mean(numeric_only=True)
median_values = iris_df.median(numeric_only=True)
std_dev_values = iris_df.std(numeric_only=True)

# Display the results
print("Mean values:")
print(mean_values)

print("\nMedian values:")
print(median_values)

print("\nStandard Deviation values:")
print(std_dev_values)

Mean values:
sepalLength    5.813986
sepalWidth     3.057343
petalLength    3.679720
petalWidth     1.152448
dtype: float64

Median values:
sepalLength    5.7
sepalWidth     3.0
petalLength    4.2
petalWidth     1.3
dtype: float64

Standard Deviation values:
sepalLength    0.834519
sepalWidth     0.442383
petalLength    1.770039
petalWidth     0.747939
dtype: float64

In [13]:
import pandas as pd

# Load the Titanic dataset from the Excel file
titanic_df = pd.read_excel("titanic.xlsx")

# Check for missing values in the 'Age' column and handle them (if needed)
# For this example, we will assume there are no missing values, but you could fill them if necessary.
# titanic_df['Age'].fillna(titanic_df['Age'].mean(), inplace=True)

# Find the minimum, maximum, and sum of passenger ages
min_age = titanic_df['Age'].min()
max_age = titanic_df['Age'].max()
sum_age = titanic_df['Age'].sum()

# Display the results
print(f"Minimum Age: {min_age}")
print(f"Maximum Age: {max_age}")
print(f"Sum of Ages: {sum_age}")

Minimum Age: 0.42
Maximum Age: 80.0
Sum of Ages: 21205.17

In [12]:
import pandas as pd

# Load the movie dataset from the CSV file
movie_df = pd.read_csv("movie.csv")

# Assuming that the 'director_facebook_likes' column exists in your dataset and is numeric:
# Identify the director with the highest total director_facebook_likes
director_likes = movie_df.groupby('Director')['Director_facebook_likes'].sum()
top_director = director_likes.idxmax()
top_director_likes = director_likes.max()

print(f"The director with the highest total 'director_facebook_likes' is {top_director} with {top_director_likes} likes.")

# Now, find the 5 longest movies and their respective directors:
# First, we need to ensure that 'duration' column is numeric. If not, we may need to clean or convert it.
# Sorting the DataFrame based on 'duration' in descending order
longest_movies = movie_df[['Film', 'Director', 'Duration']].sort_values(by='Duration', ascending=False).head(5)

print("\nTop 5 Longest Movies and their Directors:")
print(longest_movies)

The director with the highest total 'director_facebook_likes' is David Fincher with 23456 likes.

Top 5 Longest Movies and their Directors:
                                  Film              Director  Duration
6  The Curious Case of Benjamin Button         David Fincher       165
8                     Sex and the City  Michael Patrick King       148
0                  Across the Universe          Julie Taymor       130
2                   Sex and the City 2  Michael Patrick King       125
3                What Happens in Vegas           Tom Vaughan       115

In [15]:
# Load Flights parquet file
flights_df = pd.read_parquet("flights.parquet")

# Check for missing values
missing_values = flights_df.isnull().sum()

# Fill missing values in only numerical columns with their respective column mean
numerical_columns = flights_df.select_dtypes(include=['number']).columns
flights_df_filled = flights_df.copy()
flights_df_filled[numerical_columns] = flights_df_filled[numerical_columns].fillna(flights_df[numerical_columns].mean())

# Display the missing values before filling and the DataFrame after filling
print("Missing values before filling:\n", missing_values)
print("\nDataFrame after filling missing values:\n", flights_df_filled.head())

Missing values before filling:
 year                 0
month                0
day                  0
dep_time          8255
sched_dep_time       0
dep_delay         8255
arr_time          8713
sched_arr_time       0
arr_delay         9430
carrier              0
flight               0
tailnum           2512
origin               0
dest                 0
air_time          9430
distance             0
hour                 0
minute               0
time_hour            0
dtype: int64

DataFrame after filling missing values:
    year  month  day  dep_time  sched_dep_time  dep_delay  arr_time  \
0  2013      1    1     517.0             515        2.0     830.0
1  2013      1    1     533.0             529        4.0     850.0
2  2013      1    1     542.0             540        2.0     923.0
3  2013      1    1     544.0             545       -1.0    1004.0
4  2013      1    1     554.0             600       -6.0     812.0

   sched_arr_time  arr_delay carrier  flight tailnum origin dest  air_time  \
0             819       11.0      UA    1545  N14228    EWR  IAH     227.0
1             830       20.0      UA    1714  N24211    LGA  IAH     227.0
2             850       33.0      AA    1141  N619AA    JFK  MIA     160.0
3            1022      -18.0      B6     725  N804JB    JFK  BQN     183.0
4             837      -25.0      DL     461  N668DN    LGA  ATL     116.0

   distance  hour  minute           time_hour
0      1400     5      15 2013-01-01 05:00:00
1      1416     5      29 2013-01-01 05:00:00
2      1089     5      40 2013-01-01 05:00:00
3      1576     5      45 2013-01-01 05:00:00
4       762     6       0 2013-01-01 06:00:00