### Q 1

In [2]:
import sqlite3
import pandas as pd

# Step 1: Connect to the Chinook database
conn = sqlite3.connect('chinook.db')

# Step 2: Define and execute the SQL query
query = """
SELECT
    c.CustomerId,
    c.FirstName,
    c.LastName,
    COUNT(i.InvoiceId) AS TotalInvoices
FROM
    customers c
INNER JOIN
    invoices i ON c.CustomerId = i.CustomerId
GROUP BY
    c.CustomerId
ORDER BY
    TotalInvoices DESC;
"""

df = pd.read_sql_query(query, conn)

# Step 3: Display the results as a table
print(df)

# Step 4: Close the connection
conn.close()

    CustomerId  FirstName      LastName  TotalInvoices
0            1       Lu√≠s     Gon√ßalves              7
1            2     Leonie        K√∂hler              7
2            3   Fran√ßois      Tremblay              7
3            4      Bj√∏rn        Hansen              7
4            5  Franti≈°ek   Wichterlov√°              7
5            6     Helena          Hol√Ω              7
6            7     Astrid        Gruber              7
7            8       Daan       Peeters              7
8            9       Kara       Nielsen              7
9           10    Eduardo       Martins              7
10          11  Alexandre         Rocha              7
11          12    Roberto       Almeida              7
12          13   Fernanda         Ramos              7
13          14       Mark       Philips              7
14          15   Jennifer      Peterson              7
15          16      Frank        Harris              7
16          17       Jack         Smith              7
17          18   Michelle        Brooks              7
18          19        Tim         Goyer              7
19          20        Dan        Miller              7
20          21      Kathy         Chase              7
21          22    Heather       Leacock              7
22          23       John        Gordon              7
23          24      Frank       Ralston              7
24          25     Victor       Stevens              7
25          26    Richard    Cunningham              7
26          27    Patrick          Gray              7
27          28      Julia       Barnett              7
28          29     Robert         Brown              7
29          30     Edward       Francis              7
30          31     Martha          Silk              7
31          32      Aaron      Mitchell              7
32          33      Ellie      Sullivan              7
33          34       Jo√£o     Fernandes              7
34          35   Madalena       Sampaio              7
35          36     Hannah     Schneider              7
36          37       Fynn    Zimmermann              7
37          38     Niklas      Schr√∂der              7
38          39    Camille       Bernard              7
39          40  Dominique      Lefebvre              7
40          41       Marc        Dubois              7
41          42      Wyatt        Girard              7
42          43   Isabelle       Mercier              7
43          44      Terhi    H√§m√§l√§inen              7
44          45   Ladislav        Kov√°cs              7
45          46       Hugh      O'Reilly              7
46          47      Lucas       Mancini              7
47          48   Johannes  Van der Berg              7
48          49  Stanis≈Çaw        W√≥jcik              7
49          50    Enrique         Mu√±oz              7
50          51     Joakim     Johansson              7
51          52       Emma         Jones              7
52          53       Phil        Hughes              7
53          54      Steve        Murray              7
54          55       Mark        Taylor              7
55          56      Diego     Guti√©rrez              7
56          57       Luis         Rojas              7
57          58      Manoj        Pareek              7
58          59       Puja    Srivastava              6

### Q 2

In [3]:
import pandas as pd

# Step 1: Load the CSV file
try:
    movie_df = pd.read_csv('movie.csv')
    print("‚úÖ movie.csv successfully loaded.")
except FileNotFoundError:
    print("‚ùå Error: 'movie.csv' not found in the current directory.")
    exit()

# Step 2: Create smaller DataFrames
df_director_color = movie_df[['director_name', 'color']].dropna(subset=['director_name'])
df_director_reviews = movie_df[['director_name', 'num_critic_for_reviews']].dropna(subset=['director_name'])

print(f"\nüé¨ df_director_color: {len(df_director_color)} rows")
print(f"üìù df_director_reviews: {len(df_director_reviews)} rows")

# Step 3: Left Join on 'director_name'
left_join_df = pd.merge(df_director_color, df_director_reviews, on='director_name', how='left')

# Step 4: Full Outer Join on 'director_name'
full_outer_join_df = pd.merge(df_director_color, df_director_reviews, on='director_name', how='outer')

# Step 5: Report the number of rows in each resulting DataFrame
print(f"\nüîó Left Join Result: {len(left_join_df)} rows")
print(f"üåê Full Outer Join Result: {len(full_outer_join_df)} rows")

# Step 6: Optional ‚Äî Show first 5 rows for each join
print("\nüìã Sample of Left Join Result:")
print(left_join_df.head())

print("\nüìã Sample of Full Outer Join Result:")
print(full_outer_join_df.head())

‚úÖ movie.csv successfully loaded.

üé¨ df_director_color: 4814 rows
üìù df_director_reviews: 4814 rows

üîó Left Join Result: 19896 rows
üåê Full Outer Join Result: 19896 rows

üìã Sample of Left Join Result:
   director_name  color  num_critic_for_reviews
0  James Cameron  Color                   723.0
1  James Cameron  Color                   315.0
2  James Cameron  Color                   210.0
3  James Cameron  Color                    94.0
4  James Cameron  Color                    82.0

üìã Sample of Full Outer Join Result:
     director_name  color  num_critic_for_reviews
0    A. Raven Cruz  Color                     3.0
1       Aaron Hann  Color                    29.0
2  Aaron Schneider  Color                   160.0
3    Aaron Seltzer  Color                    99.0
4     Abel Ferrara  Color                    48.0

### Grouping and Aggregating Q 1

In [4]:
import pandas as pd

# Step 1: Load the Titanic dataset from Excel
try:
    titanic_df = pd.read_excel('titanic.xlsx')
    print("‚úÖ titanic.xlsx successfully loaded.")
except FileNotFoundError:
    print("‚ùå Error: 'titanic.xlsx' not found in the current directory.")
    exit()

# Step 2: Group by 'Pclass' and perform aggregations
grouped_df = titanic_df.groupby('Pclass').agg(
    Average_Age=('Age', 'mean'),
    Total_Fare=('Fare', 'sum'),
    Passenger_Count=('PassengerId', 'count')  # Assumes 'PassengerId' exists
).reset_index()

# Step 3: Display the resulting DataFrame
print("\nüìä Grouped Aggregations by Pclass:")
print(grouped_df)

‚úÖ titanic.xlsx successfully loaded.

üìä Grouped Aggregations by Pclass:
   Pclass  Average_Age  Total_Fare  Passenger_Count
0       1    38.233441  18177.4125              216
1       2    29.877630   3801.8417              184
2       3    25.140620   6714.6951              491

### Q 2

In [5]:
import pandas as pd

# Step 1: Load the movie dataset (Excel or CSV as needed)
try:
    movie_df = pd.read_csv('movie.csv')  # or use pd.read_excel('movie.xlsx') if your file is .xlsx
    print("‚úÖ movie.csv successfully loaded.")
except FileNotFoundError:
    print("‚ùå Error: 'movie.csv' not found.")
    exit()

# Step 2: Drop rows where 'color' or 'director_name' is missing
movie_df = movie_df.dropna(subset=['color', 'director_name'])

# Step 3: Perform multi-level grouping and aggregation
grouped_df = movie_df.groupby(['color', 'director_name']).agg(
    Total_Critic_Reviews=('num_critic_for_reviews', 'sum'),
    Average_Duration=('duration', 'mean')
).reset_index()

# Step 4: Display the result
print("\nüé¨ Multi-level Grouping by Color and Director:")
print(grouped_df.head())

‚úÖ movie.csv successfully loaded.

üé¨ Multi-level Grouping by Color and Director:
             color     director_name  Total_Critic_Reviews  Average_Duration
0  Black and White    Akira Kurosawa                 153.0             202.0
1  Black and White    Aleksey German                 121.0             177.0
2  Black and White      Alex Garland                 489.0             108.0
3  Black and White   Alexander Payne                 433.0             115.0
4  Black and White  Alfred Hitchcock                 434.0             119.0

### Q 3

In [2]:
import pandas as pd

# Sample data (replace this with your dataset)
data = {
    'Year': [2023, 2023, 2023, 2024, 2024],
    'Month': [1, 1, 2, 2, 3],
    'ArrDelay': [15, -5, 30, 10, 0],
    'DepDelay': [10, 5, 25, 20, 15],
}

# Create DataFrame
df = pd.DataFrame(data)

# Group by Year and Month, then calculate required metrics
result = df.groupby(['Year', 'Month']).agg(
    Total_Flights=('ArrDelay', 'size'),
    Avg_Arrival_Delay=('ArrDelay', 'mean'),
    Max_Departure_Delay=('DepDelay', 'max')
).reset_index()

# Display the result
print(result)

   Year  Month  Total_Flights  Avg_Arrival_Delay  Max_Departure_Delay
0  2023      1              2                5.0                   10
1  2023      2              1               30.0                   25
2  2024      2              1               10.0                   20
3  2024      3              1                0.0                   15

### Applying Functions Q 1

In [4]:
import pandas as pd

# Load the Titanic dataset from the Excel file
df = pd.read_excel('titanic.xlsx')

# Custom function to classify passengers as Child or Adult
def classify_age_group(age):
    if age < 18:
        return 'Child'
    else:
        return 'Adult'

# Apply the function to create a new column 'Age_Group'
df['Age_Group'] = df['Age'].apply(classify_age_group)

# Display the first few rows of the updated DataFrame
print(df[['Name', 'Age', 'Age_Group']].head())

                                                Name   Age Age_Group
0                            Braund, Mr. Owen Harris  22.0     Adult
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0     Adult
2                             Heikkinen, Miss. Laina  26.0     Adult
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0     Adult
4                           Allen, Mr. William Henry  35.0     Adult

### Q 2

In [1]:
import pandas as pd

# Load the employee data
df = pd.read_csv("employee.csv")

# Preview the data
print(df.head())

# Min-Max Normalization per Department
df['NormalizedSalary'] = df.groupby('Department')['Salary'].transform(
    lambda x: (x - x.min()) / (x.max() - x.min())
)

# Display the result
print(df[['EmployeeID', 'Department', 'Salary', 'NormalizedSalary']])

# Optional: Save to new CSV
df.to_csv("normalized_employee_salaries.csv", index=False)

   UNIQUE_ID               POSITION_TITLE                     DEPARTMENT  \
0          0  ASSISTANT DIRECTOR (EX LVL)    Municipal Courts Department
1          1            LIBRARY ASSISTANT                        Library
2          2               POLICE OFFICER  Houston Police Department-HPD
3          3            ENGINEER/OPERATOR  Houston Fire Department (HFD)
4          4                  ELECTRICIAN    General Services Department

   BASE_SALARY             RACE EMPLOYMENT_TYPE  GENDER EMPLOYMENT_STATUS  \
0     121862.0  Hispanic/Latino       Full Time  Female            Active
1      26125.0  Hispanic/Latino       Full Time  Female            Active
2      45279.0            White       Full Time    Male            Active
3      63166.0            White       Full Time    Male            Active
4      56347.0            White       Full Time    Male            Active

    HIRE_DATE    JOB_DATE
0  2006-06-12  2012-10-13
1  2000-07-19  2010-09-18
2  2015-02-03  2015-02-03
3  1982-02-08  1991-05-25
4  1989-06-19  1994-10-22

KeyError: 'Department'

### Q 3

In [7]:
import pandas as pd

# Load the movie dataset
df = pd.read_csv('movie.csv')

# Define the custom function to classify movie duration
def classify_duration(duration):
    if duration < 60:
        return 'Short'
    elif 60 <= duration <= 120:
        return 'Medium'
    else:
        return 'Long'

# Apply the function to create a new column 'Duration_Type'
df['Duration_Type'] = df['duration'].apply(classify_duration)

# Display the first few rows of the updated DataFrame
print(df[['movie_title', 'duration', 'Duration_Type']].head())

                                  movie_title  duration Duration_Type
0                                      Avatar     178.0          Long
1    Pirates of the Caribbean: At World's End     169.0          Long
2                                     Spectre     148.0          Long
3                       The Dark Knight Rises     164.0          Long
4  Star Wars: Episode VII - The Force Awakens       NaN          Long

### Using pipe Q 1

In [9]:
import pandas as pd

# Load the Titanic dataset
df = pd.read_excel('titanic.xlsx')

# Step 1: Filter passengers who survived (Survived == 1)
df = df[df['Survived'] == 1]

# Step 2: Fill missing Age values with the mean
df['Age'] = df['Age'].fillna(df['Age'].mean())

# Step 3: Create a new column 'Fare_Per_Age' by dividing Fare by Age
df['Fare_Per_Age'] = df['Fare'] / df['Age']

# Display the first few rows of the updated DataFrame
print(df[['Name', 'Age', 'Fare', 'Fare_Per_Age']].head())

                                                Name   Age     Fare  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0  71.2833
2                             Heikkinen, Miss. Laina  26.0   7.9250
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0  53.1000
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  27.0  11.1333
9                Nasser, Mrs. Nicholas (Adele Achem)  14.0  30.0708

   Fare_Per_Age
1      1.875876
2      0.304808
3      1.517143
8      0.412344
9      2.147914

### Q 2

In [11]:
import pandas as pd

# Create a mock flights dataset
data = {
    'FlightID': [101, 102, 103, 104, 105],
    'DepartureDelay': [45, 20, 35, 50, 25],
    'ScheduledFlightDuration': [120, 150, 90, 180, 120]
}

df = pd.DataFrame(data)

# Step 1: Filter flights with a departure delay greater than 30 minutes
df = df[df['DepartureDelay'] > 30]

# Step 2: Add a new column 'Delay_Per_Hour' by dividing the delay by the scheduled flight duration
df['Delay_Per_Hour'] = df['DepartureDelay'] / df['ScheduledFlightDuration']

# Display the first few rows of the updated DataFrame
print(df[['FlightID', 'DepartureDelay', 'ScheduledFlightDuration', 'Delay_Per_Hour']])

   FlightID  DepartureDelay  ScheduledFlightDuration  Delay_Per_Hour
0       101              45                      120        0.375000
2       103              35                       90        0.388889
3       104              50                      180        0.277778